body, html {
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}



img {
    width: 50%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}