html {
    font-family:Arial, Helvetica, sans-serif;
}

div {
    display: flex;
    text-align: center;
}

img {
    justify-content: start;
    max-width: 75%;
    height: auto;
}

.right-section {
    display: flex;
}

.left-section {
    display: inline-flex;
}