* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
}

div {
    display: flex;
    text-align: center;
}

img {
    justify-content: start;
    height: auto;
}

.right-section {
    display: flex;
}

.left-section {
    display: block;
}

.email {
    justify-content: center;
}

button {
    background-color:#596D48 ;
    color:white
}

.header {
    background-color: #d0d4db;
    padding: 55px;
    text-align: center;
}

.form1 {
    padding: 55px;
}

.footer {
    display: block;
    background-color: #d0d4db;
    padding: 55px;
}
